
    <div class="row-fluid">
      <div class="span12">
        <div id="nadpis">
          <h1><strong><%= article.author.name %> :</strong> <%= article.title %></h1>
        </div>
        <div id="datum">
          <%= article.author.created_at.strftime "%d.%m.%Y %H:%M:%S" %>
        </div>
        <div id="obsah" class="more">

          <%=  article.content %>

          <hr>
          <%= debug  article.comments %>

          <h2>Komentare</h2>
          <% article.comments.each do |comment| %>
              <p>
                <%= comment.created_at.to_s(:short) %> napisal <strong><%= comment.commenter %></strong>:
                <q><%= comment.comment_body %></q>
              </p>
          <% end %>

          <hr>

          <h2>Pridat komentar:</h2>
          <%= form_for([article, article.comments.build]) do |f| %>
              <div class="field">
                <%= f.label :commenter %><br />
                <%= f.text_field :commenter %>
              </div>
              <div class="field">
                <%= f.label :comment_body %><br />
                <%= f.text_area :comment_body %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
          <% end %>
        </div>

      </div>

    </div>

