<h1>Zoznam autorov</h1>



  <div class="CSSTableGenerator" >
  <table>
    <td>Meno :</td>
    <td>Vek :</td>
    <td>e-mail :</td>
    <td></td>
    <td></td>
    <td></td>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.age %></td>
        <td><%= author.email %></td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  </div>


<br>

<%= link_to 'Novy autor', new_author_path, class: "btn btn-normal btn-primary" %>

